<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>HELLO!</h1>
  <h2>Welcome to my page!!!</h2>
  <p>you are {{ age }} </p>
  {%if age >= 21 %}
    <p>Your lucky number is {{lucky_number}}.</p>
  {% endif %}

  <ul>
    {% for game in games %}
      <li> I like to play {{game}} </li>
    {% endfor %}
  </ul>
  <form action='/welcome-user'>

  </form>
</body>
</html>