{% extends 'base.html' %}
{% block content %}
<h1>Create a new message here!</h1>
<form action="{{ url_for('msg_create', id=user.id) }}" method="POST">
  <div>
    <label for="content">Message</label>
    <input type="text" id='content' name='content' placeholder="Message in a bottle">
  </div>
  <button type='submit'>Create new message!</button>
  <div>
      <h3>Select a tag that describe your mood!</h3>
      {% for tag in user.messages.tags %}
      <div>
        <label for="tag_{{ tag.id }}">{{ tag.mood }} </label>
        <input type="checkbox" name="tags" id="tag_{{ tag.id }}" value="{{ tag.mood }}">
      </div>
      {% endfor %}
    </div>
</form>
{% endblock %}