<link rel="stylesheet" href="{{ url_for('static', filename='style-msg_edit.css') }}">
{% extends 'base.html' %}
{% block content %}
<h1>Change your message!</h1>
<h3>Current message:</h3>
<div>
    {{ found_message.content }} 
    {% for tag in found_message.tags %}
    <ul class='msg_tags'>
      <li class='tags'>#{{ tag.mood }}</li>
    </ul>
    {% endfor %}
</div>

<form action="{{ url_for('msg_update', msg_id=msg_id) }}?_method=PATCH" method='POST'>
  <div>
    <label for="content"></label>
    <textarea name="content" id="content" cols="30" rows="10" placeholder="Change message"></textarea>
  </div>
  {% for tag in tags %}
  <div>
      <label for="tag_{{ tag.id }}">#{{ tag.mood }} </label>
      {% for mood in found_message.tags %}
        {% if mood.mood == tag.mood %}
        <input type="checkbox" name="tags" id="tag_{{ tag.id }}" value="{{ tag.id }}" checked>
          {% else %}
            <input type="checkbox" name="tags" id="tag_{{ tag.id }}" value="{{ tag.id }}">
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  <button class='edit' type="submit">Click to edit message</button>
</form>
{% endblock %}