{% extends 'base.html' %}

{% block content %}
<h1>Here the messages for {{ user.first_name }}!</h1>
<div><a href="{{ url_for('msg_new', id=user.id) }}">Add a message</a></div>
<div><a href="{{ url_for('index') }}">Back to list of user</a></div>
<div>
  <p>
    {% for message in user.messages %}
    {{ message.content }} 
    {{ message.tags.mood }}
    <form action="{{ url_for('msg_destroy',msg_id=message.id) }}?_method=DELETE" method='POST'>
      <button type='submit'>Delete this msg</button>
    </form>
    <form action="{{ url_for('msg_edit', msg_id=message.id) }}" method='GET'>
      <button type='submit'>Edit this message</button>
    </form>
    <form action="{{ url_for('msg_show', msg_id=message.id) }}" method='GET'>
        <button type='submit'>Show this message</button>
      </form>
    {% endfor %}
  </p>
</div>
{% endblock %}