{% extends 'base.html' %}

{% block content %}
<h1>Add a new game!</h1>
<form action="{{ url_for('create') }}" method='POST'>
  <div>
    <label for="name">Game Name:</label>
    <input type="text" id='name' name='name' placeholder='Fun games only!'>
  </div>
  <div>
    <label for="rating">Metacritic Rating:</label>
    <input type="number" id='rating' name='rating' placeholder='Ratings'>
  </div>
  <select name="system" id="system">
    <option value="Switch">Nintendo Switch</option>
    <option value="PS4">Playstation 4</option>
    <option value="Xbox One">Xbox One</option>
  </select>
  <button type='submit'>Add a new game</button>
</form>
<a href="{{ url_for('home') }}">Homepage</a>
{% endblock %}