li {
  font-size: 20px;
}

h1,
p {
  text-align: center;
}

/* this allows you to make picture opaque */
body::after {
  content: '';
  background: url(https://i.imgur.com/hSoP0Te.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
