.Todolist {
  display: flex;
  /* justify-content is for horizontal adjustment */
  justify-content: center;
  /* align-ITEMS NOT content is for centering vertical adjustment */
  align-items: center;
  margin: auto;
  height: 400px;
  width: 400px;
  background-color: lightcyan;
}
