{% extends 'base.html' %}
{% block content %}
<div>
  <img src="{{ pet.photo_url }}" alt="#">
  <p>
    <li>Name: {{ pet.name }}</li>
    <li>Age: {{ pet.age }}</li>
    <li>Species: {{ pet.species }}</li>
  </p>
</div>
<h3>Edit Fields</h3>
<form action="{{ url_for('edit_pet', pet_id=pet.id) }}" method="POST">

  {{ form.hidden_tag() }}
  
  {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}
  
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {% endfor %}
  
  <button type="submit">Submit</button>
  
  </form>
{% endblock %}