.button {
    background-color: skyblue; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}

.button:hover {
    background-color: darkblue;
    color: white;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black;
}

.card {
    margin: 10px;
    width: 425px;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; 
    background-color: gold;
    
}
/* mock 2 */
.card-text, .card-name {
    margin: 5px;
}

/* mock 3*/
img {
    width: 100%;
    height: 100%;
    border-radius: 5px; 
}

.gifs {
    display: flex;
    justify-content: space-evenly;
}

.gif1, .gif2, .gif3 {
    width: 250px;
    height: 250px;
    border: 5px solid peachpuff;
    position: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px; 
}

.gif1:hover .overlay .gif1text {
    top: 0;
}

/* 
by default, overlay is visible… 
*/
.overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
    background: rgba(0,0,0,0.5);
    color: #fff;
    overflow: hidden;
    text-align: center;
}